
<body>
	<header id="TitleBox" class="clear">
		<div class="box">
			<h1>SECOND OPINION</h1>
			<h2>Quick pyschiatric analysis!</h2>
		</div>
	</header>
	<section>
		<img src="http:/placehold.it/300x300/" alt="Chaise Longue">
	</section>
	<section id="FrontPageLeader">
		<p></p>
		<p></p>
		<img>
	</section>
</body>